[user]
	name = Juan Riquelme González
	email = juanriqgon@protonmail.com
[credential]
	helper = cache
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
[gui]
	editor = code
[merge]
	tool = code
[push]
	default = current
[cola]
	fontdiff = Liberation Mono,13,-1,5,50,0,0,0,0,0
	textwidth = 72
[color]
	ui = true
[commit]
	verbose = 1
